/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.bookings-s2 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}
/* line 3, ../sass/partials/_modules.scss */
.bookings-s2 * {
  color: #fff !important;
  text-shadow: 1px 1px 3px #333;
}

/* line 12, ../sass/partials/_modules.scss */
.contact-s3 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}

/* line 18, ../sass/partials/_modules.scss */
.index-s3 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}

/* line 24, ../sass/partials/_modules.scss */
.menu-s3, .menu-s5 {
  background-color: #666 !important;
  background-blend-mode: multiply !important;
}
/* line 25, ../sass/partials/_modules.scss */
.menu-s3 *, .menu-s5 * {
  color: #fff !important;
  text-shadow: 1px 1px 3px #333;
}

/* line 34, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 39, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

/* line 43, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}

@media all and (max-width: 767px) {
  /* line 48, ../sass/partials/_modules.scss */
  .blog-s1 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
    background-position: right !important;
  }
  /* line 49, ../sass/partials/_modules.scss */
  .blog-s1 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 59, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 60, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 67, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }

  /* line 72, ../sass/partials/_modules.scss */
  .index-s1, .index-s2 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 73, ../sass/partials/_modules.scss */
  .index-s1 *, .index-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 80, ../sass/partials/_modules.scss */
  .index-s2 {
    background-position: right !important;
  }

  /* line 85, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s2, .menu-s4 {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
  }
  /* line 86, ../sass/partials/_modules.scss */
  .menu-s1 *, .menu-s2 *, .menu-s4 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 93, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s3, .menu-s4 {
    background-position: right !important;
  }

  /* line 98, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #666 !important;
    background-blend-mode: multiply !important;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }
  /* line 99, ../sass/partials/_modules.scss */
  .navbar-nav * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 100, ../sass/partials/_modules.scss */
  .navbar-nav *:hover {
    opacity: 0.8;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.blog-s1 {
  background-attachment: scroll;
  background-image: url(../img/blog/blog-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.bookings-s1 {
  background-attachment: scroll;
  background-image: url(../img/bookings/bookings-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.bookings-s2 {
  background-attachment: scroll;
  background-image: url(../img/bookings/bookings-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.login-s1 {
  background-attachment: scroll;
  background-image: url(../img/login/login-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s1 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s2 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s3 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s4 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s5 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
