$prefix: "../";
$bg__blog-img: "../img/blog/blog-s1.jpg";
$bg__bookings-img: 
    $prefix+"img/bookings/bookings-s1.jpg",
    $prefix+"img/bookings/bookings-s2.jpg";
$bg__comingsoon-img: "../img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: "../img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    $prefix+"img/index/index-s2.jpg",
    $prefix+"img/index/index-s3.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__menu-img: 
    $prefix+"img/menu/menu-s1.jpg",
    $prefix+"img/menu/menu-s2.jpg",
    $prefix+"img/menu/menu-s3.jpg",
    $prefix+"img/menu/menu-s4.jpg",
    $prefix+"img/menu/menu-s5.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__classes:
    "blog",
    "bookings",
    "comingsoon",
    "contact",
    "error",
    "index",
    "login",
    "menu",
    "privacy";
$bg__aoa:
    $bg__blog-img,
    $bg__bookings-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__login-img,
    $bg__menu-img,
    $bg__privacy-img;
$color__shadow: #333;
$text__shadow: 1px 1px 3px $color__shadow; 